# example settings file
# can be placed at ~/.config/lutris-ui/config.ini for adjustments

# Settings for single game tile / widget
[game_widget]
# width. The height is calculated based on width
width = 240
# widget grid distance sizes
distance_width = 10
distance_height = 10
# Label height in bottom of the widget
label_height = 65

[gamelist]
# Sort type and order. Supported types are: name, sortname, lastplayed, installed_at
sort_attribute = lastplayed
reverse_sort = True

[play]
# hide lutris-ui if game is launched
hide_on_launch = False

[input]
# time in milliseconds, the hold (arrow) button is repeated first time
repeat_time_1 = 500
# time in milliseconds, the hold (arrow) button is repeated after the first time
repeat_time_2 = 200

[window]
# Window attributes
fullscreen = False
noframe = False
# Zero means maximum size
size_w = 0
size_h = 0

